<nav id="sidebar" class="closed">

<style>
/* ===== SIDEBAR ===== */

#sidebar {
    position: fixed;
    padding-top: 60px;
    top: 0;
    left: 0;
    width: 260px;
    height: 100vh;
    background: linear-gradient(180deg, #00141f, #000a12);
    border-right: 1px solid rgba(0,255,255,0.15);
    backdrop-filter: blur(8px);
    z-index: 1000;
    transition: transform 0.3s ease;
}

#sidebar.closed {
    transform: translateX(-100%);
}

.sidebar-inner {
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu li {
    margin-bottom: 5px;
}

.sidebar-menu a {
    display: block;
    padding: 10px 15px;
    border-radius: 6px;
    color: #cfd8dc;
    text-decoration: none;
    transition: all 0.2s ease;
    font-size: 16px;
}

.sidebar-menu a:hover {
    background: rgba(0,255,255,0.1);
    color: #00ffff;
    transform: translateX(4px);
}

.sidebar-menu a.active {
    background: rgba(0,255,255,0.15);
    color: #00ffff;
    border-left: 3px solid #00ffff;
}

/* ===== TOGGLE BUTTON ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html, body {
  width: 100%;
  height: 100%;
}

.burger {
    position: fixed;
    top: 15px;
    left: 15px;
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2200;
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(0,255,255,0.15);
    color: #00ffff;
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 6px;
    pointer-events: auto;
    transition: 0.2s ease;
}


.burger > i {
  background: #00ffff;
  width: 30px;
  height: 4px;
  border-radius: 2px;
  display: block;
  position: absolute;
  transition: 0.5s;
}

.burger > i:nth-child(1) {
  transform: translateY(-10px);
  animation: itop_out 0.5s ease forwards;
}

.burger > i:nth-child(3) {
  transform: translateY(10px);
  animation: ibottom_out 0.5s ease forwards;
}

.burger.active > i:nth-child(1) {
  animation: itop 0.5s ease forwards;
}

.burger.active > i:nth-child(2) {
  width: 0px;
}

.burger.active > i:nth-child(3) {
  animation: ibottom 0.5s ease forwards;
}

@keyframes itop {
  0% {transform: translateY(-10px)}
  50% {transform: translateY(-17px)}
  100% {transform: translateY(0px) rotate(45deg)}
}

@keyframes ibottom {
  0% {transform: translateY(10px)}
  50% {transform: translateY(17px)}
  100% {transform: translateY(0px) rotate(135deg)}
}

@keyframes itop_out {
  0% {transform: translateY(0px)}
  50% {transform: translateY(-14px)}
  100% {transform: translateY(-10px)}
}

@keyframes ibottom_out {
  0% {transform: translateY(0px)}
  50% {transform: translateY(14px)}
  100% {transform: translateY(10px)}
}


.sidebar-menu a img {
    max-height: 28px;
    vertical-align: middle;
}

.menu-logo ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-logo a{
    display: block;
    padding: 10px 15px;
    border-radius: 6px;
    color: #cfd8dc;
    text-decoration: none;
    transition: all 0.2s ease;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 15px;
}

.menu-logo a:hover {
    background: rgba(0,255,255,0.1);
    color: #00ffff;
    transform: translateX(4px);
}

.menu-logo a.active {
    background: rgba(0,255,255,0.15);
    color: #00ffff;
    border-left: 3px solid #00ffff;
}

/* #sidebarToggle:hover {
    background: rgba(0,255,255,0.3);
} */

/* ===== MAIN CONTENT SHIFT ===== */

main {
    margin-left: 0px;
    transition: margin-left 0.3s ease;
}

main.sidebar-open {
    margin-left: 260px;
}

main.full {
    margin-left: 0;
}

hr {
    border-color: rgba(0,255,255,0.15);
}


#sidebarLogo {
    position: fixed;
    top: 15px;
    left: -70px;
    height: 50px;
    z-index: 2300;

    filter:
            brightness(0)
            saturate(100%)
            invert(74%)
            sepia(88%)
            saturate(700%)
            hue-rotate(160deg)
            brightness(105%)
            contrast(101%)
            drop-shadow(0 0 12px rgba(0,255,255,0.6));

    opacity: 0;
    transform: translateX(-10px);
    transition: 0.3s;
}

#sidebarLogo.visible {
    left: 190px; 
    opacity: 1;
    transform: translateX(0);
}

</style>

  <div class="sidebar-inner">

    <div class="menu-logo">
      <ul>
        <li>
          <a href="{{ url_for('views.static_html', route='/') }}" class="{% if request.path == '/' %}active{% endif %}">
            {% if Configs.ctf_logo %}
            <img src="{{ url_for('views.files', path=Configs.ctf_logo) }}"
            alt="{{ Configs.ctf_name }}">
            {% else %}
            {{ Configs.ctf_name }}
            {% endif %}
          </a> 
        </li>
      </ul>
    </div>
      
    <div class="sidebar-menu">
      <ul>

        {% for page in Plugins.user_menu_pages %}
        <li>
          <a href="{{ page.route }}"
             class="{% if request.path.startswith(page.route) %}active{% endif %}">
            {{ page.title }}
          </a>
        </li>
        {% endfor %}

        <li>
          <a href="{{ url_for('users.listing') }}"
             class="{% if request.endpoint == 'users.listing' %}active{% endif %}">
            Users
          </a>
        </li>

        <li>
          <a href="{{ url_for('teams.listing') }}"
             class="{% if request.endpoint == 'teams.listing' %}active{% endif %}">
            Teams
          </a>
        </li>

        <li>
          <a href="{{ url_for('scoreboard.listing') }}"
             class="{% if request.endpoint == 'scoreboard.listing' %}active{% endif %}">
            Scoreboard
          </a>
        </li>

        <li>
          <a href="{{ url_for('challenges.listing') }}"
             class="{% if request.endpoint == 'challenges.listing' %}active{% endif %}">
            Challenges
          </a>
        </li>
        
        {% if authed() %}
        <hr>
        
        {% if is_admin() %} 
        <li>
          <a href="{{ url_for('admin.view') }}"
             class="{% if request.endpoint == 'admin.view' %}active{% endif %}">
            Admin panel
          </a>
        </li>
        {% endif %}

        <li>
          <a href="{{ url_for('views.notifications') }}"
             class="{% if request.endpoint == 'views.notifications' %}active{% endif %}">
            Notifications
          </a>
        </li>

        <li>
          <a href="{{ url_for('teams.private') }}"
             class="{% if request.endpoint == 'teams.private' %}active{% endif %}">
            Team
          </a>
        </li>

        <li>
          <a href="{{ url_for('users.private') }}"
             class="{% if request.endpoint == 'users.private' %}active{% endif %}">
            Profile
          </a>
        </li>

        <li>
          <a href="{{ url_for('views.settings') }}"
             class="{% if request.endpoint == 'views.settings' %}active{% endif %}">
            Settings
          </a>
        </li>

        <li>
          <a href="{{ url_for('auth.logout') }}">
            Logout
          </a>
        </li>
        {% else %}
        <hr>
        <li>
          <a href="{{ url_for('auth.login') }}">
            Login
          </a>
        </li>
        {% endif %}

      </ul>
    </div>

  </div>
</nav>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<img src="/themes/CyberCTF/static/img/logo.svg"" id="sidebarLogo" class="sidebar-logo">


<button id="sidebarToggle" class="burger">
  <i></i>
  <i></i>
  <i></i>
</button>


<script>
document.addEventListener("DOMContentLoaded", function () {
  
  const logo = document.getElementById("sidebarLogo");
  const burger = document.querySelector(".burger");
  const sidebar = document.getElementById("sidebar");
  const main = document.querySelector("main");

  burger.addEventListener("click", function () {

    burger.classList.toggle("active");
    sidebar.classList.toggle("closed");
    main.classList.toggle("sidebar-open");
    logo.classList.toggle("visible");

  });

});
</script>

