{% extends "base.html" %}

{% block content %}

<div id="bg-canvas"></div>

<style>
  #bg-canvas {
    position: fixed;
    inset: 0;
    z-index: -1;
    background: radial-gradient(circle at 20% 20%, #001f2f, #000814);
}
.transparent-text {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
</style>
<script src="/themes/CyberCTF/static/js/particles.js"></script>

	<div class="transparent-text">
		<div class="container">
			<h1>
				{% trans %}Notifications{% endtrans %}
			</h1>
		</div>
	</div>
	<div class="container">
		{% if not notifications %}
		<h2 class="text-center">
			{% trans %}There are no notifications yet{% endtrans %}
		</h2>
		{% endif %}
		{% for notification in notifications %}
		<div class="card bg-body-tertiary mb-4">
			<div class="card-body">
				<h3 class="card-title">{{ notification.title }}</h3>
				<blockquote class="blockquote mb-0">
					<p>{{ notification.html }}</p>
					<small class="text-muted"><span data-time="{{ notification.date | isoformat }}"></span></small>
				</blockquote>
			</div>
		</div>
		{% endfor %}
	</div>
{% endblock %}

{% block scripts %}
  {{ Assets.js("assets/js/notifications.js") }}
  {{ super() }}
{% endblock %}

